.userhome .navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.userhome .navbar .navbar-brand .nav-logo{
    height: 74px;
    width: 164px;
}

.userhome .navbar .navbar-brand .nav-icon{
    margin-right: 1.5rem;
    position: relative;
    font-size: 2.4rem;
}

.userhome .navbar .navbar-brand .nav-icon:hover{
    cursor: pointer;
}

.userhome .sidebar{
    padding-top: 11.7vh;
    padding-left: 15px;
    width:65px;
    height: 100vh;
    border-right: 3px solid #13bd5d;
    background-color: #f5f5f5;
    position: fixed;
    overflow: auto;
}

.userhome .openedsidebar{
    width: 110px;
}

.userhome .maincontent{
    position: absolute;
    left: 90px;
    padding-top: 19vh;
    bottom: 0;
    height: 100vh;
}

.userhome .openedmain{
    left: 160px;
}