.usernav{
    background-color: #d5f7d5;
    box-shadow: 0px 6px 5px -6px rgba(0,0,0,.5);
}
.search-icon{
    padding-top: 4px;
    padding-left: 4px;
    font-size: 2.2rem;
}
.search_bar{
    width: 150px;
    border-bottom: 1px solid black;
   margin-right: 25px;
}
.search{
    background: none;
    border-radius: 0px;
    border: none;
}

.search:focus{
    box-shadow: none;
    outline: none;
    background: none;
    border:none;
}
.signOut{
    margin-left: 2rem;
    width:6rem;
}
.signOut:focus{
    box-shadow: none;
}
.userIcon{
    width: 58px;
    height: 38px;
    padding:0 9px;
    cursor: pointer;
    transition: 0.4s ;
}
.userProfile:hover{
    transform: scale(1.08);
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-light .navbar-nav .nav-link{
    color:black;
    font-size: 1.2rem;
    margin: 0 1rem;
}
.active{
    border-bottom:3px solid #13bd5d;
}
.msgIcon{
    width: 50px;
    height: 38px;
    padding: 1px 8px;
    cursor: pointer;
    transition: 0.4s ;
}
.msgIcon:hover{
    transform: scale(1.08);
}
.appIcon{
    width: 50px;
    height: 34px;
    cursor: pointer;
    transition: 0.4s ;
}
.appIcon:hover{
    transform: scale(1.08);
}
